* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

main {
    max-width: 700px;
    margin: 50px auto;
}

.loading {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    line-height: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

h1 {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: inherit;
    width: 100%;
    margin-bottom: 30px;
}

ul {
    display: block;
    list-style: none;
    margin-bottom: 30px;
}

li {
    display: block;
}

li a {
    display: block;
    color: inherit;
    background: #eee;
    padding: 10px;
}

li:nth-child(even) a {
    background: #fbfbfb;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    width: 50%;
}